body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    padding: 20px;
    background: #1c1b1b;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly; 
    flex: 1;
    margin: 0;
    padding: 0;
}

nav li {
    display:inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #d7c9c0;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #765d4d;
}

.hero {
    text-align: center;
    padding: 200px 0;
    background-image: url('../img/Brown Modern Coffee Presentation.jpg');
    background-size: cover;
    background-position: 100%;
    color: white;
}

.hero h1 {
    font-family: 'abril fatface';
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4c3c32;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #7e685b;
}

.menu {
    padding: 50px 0;
    text-align: center;
}

.menu h2 {
    font-family: 'Abril Fatface';
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 20px;
}

.menu-item {
    display: inline-block;
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

.menu-item img {
    max-width: 100%;
}

.info-sections {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding: 50px 0;
}

.about, .contact {
    flex: 1;
    max-width: 600px;
    min-height: 300px;
    text-align: center;
    padding: 40px 20px;
    border-radius: 10px;
}

.about {
    background-color: #ede4d6;
    color: #333;
}

.about h2 {
    font-family: 'abril fatface';
    font-size: 40px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
}

/* Contact styling */
.contact {
    background-color: #7f604c;
    color: #dfcabd;
}

.contact h2 {
    font-family: 'abril fatface';
    font-size: 40px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-links img {
    vertical-align: middle;
    padding-right: 5px;
}

.contact-links a {
    display: block;
    color: #dfcabd;
    text-decoration: none;
    margin: 8px 0;
}

.contact-links a:hover {
    text-decoration: underline;
}

footer {
    background-color: #4c3c32;
    color: #dfcabd;
    text-align: center;
    padding: 20px 0;
}